<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Demande de modification de votre mot de passe</title>
    </head>

    <body>

        <p>Bonjour,</p>

        <p>Un changement de mot de passe a été demandé pour l'email : {{ email }}.<br />
            Pour modifier votre mot de passe, cliquer sur le lien suivant : {{link}}
        </p>

        <p>Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer ce message.</p>

        <p>Cordialement,</p>

    </body>

</html>