{% extends "template.html" %}
{% set active_page = "calender" %}
{% set section_name = "Calender"|trans %}
{% set section_sub_name = "list"|trans %}
{% set section_icon_name = "calender" %}
{% set page_header = ('calender') | trans %}
{% block title %}Calender{% endblock %}
{% block content %}
    <!-- Main content -->
    <section class="content">
    {% if flash.success is not null %}
		<div class="mdl-cell mdl-cell--10-col alert alert-success alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{flash.success}}
		</div>
	{% endif %}
        <div class="row">
            <div class="col-xs-12">  	
              <div class="box">
                <div class="box-header">
                   <div style="width:80%;float: left">
                 	   <h3 class="box-title">{{'Calender'|trans}}</h3>
                   </div>  
	            </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                	<form name="filter-form" id="filter-form" method="post" >
                		<table style="width: 600px;">
							<thead>
								<tr style="height: 40px;background-color: #787878;color: #f2f2f2">	
									<th colspan="7" style="text-align:center;padding-bottom: 5px;border: 1px solid #787878">
										{{ time|date('F') }}{{ "now"|date("Y") }}
									</th>
								</tr>
								<tr style="height: 40px;">
									<th width="12%">Sun</th>
									<th width="15%">Mon</th>
									<th width="15%">Tue</th>
									<th width="16%">Wed</th>
									<th width="15%">Thu</th>
									<th width="15%">Fri</th>
									<th width="12%">Sat</th>
								</tr>
							</thead>
							<tbody>
								<tr>
								{% set daysInMonth = time|date('t') %}
								{% set startDow = time|date('F 1\\s\\t Y')|date('w') %}
								{% set dow = startDow %}
								{% for day in range(1,daysInMonth) %}
									{% if loop.first and startDow != 0 %}
										<td colspan="{{ startDow }}"></td>
									{% endif %}
									{% if  "now"|date("d")  ==  day  %}
									<td style="background-color:#dedede">	
									{% else %}
									<td>
									{% endif %}
										<div>
											<div>{{ day }}</div>
											<div>
											 {# day content here #}
											</div>
										</div>
									</td>
									{% if loop.last and dow != 6 %}
										<td colspan="{{ 6 - dow }}">&nbsp;</td>
									{% endif %}
									{% if dow == 6 %}
										{% set dow = 0 %}
								</tr>
								<tr>
									{% else %}
										{% set dow = dow + 1 %}
									{% endif %}
								{% endfor %}
								</tr>
							</tbody>
						</table>            
                	</form>
              </div><!-- /.box -->
            </div>
          </div>
      </div>
    </section>
    <link rel="stylesheet" type="text/css" href="">
<style type="text/css">
table {
    border-collapse: collapse;
}

table {
    border: 1px solid #ccc;
    text-align: center;
    height: 40px;
}
th, td {
	text-align: center;
    height: 40px;
}
</style>
{% endblock %}